::backdrop {
  background-color: #000000;
  opacity: 0.8;
}

.dialog{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.botao-dialog {
    background-color: #0987C3;
    border-radius: 20px;
    width: 90px;
    height: 40px;
    border: none;
}

.btn-dlog{
    text-align: right;
}