.tela-listar-familiares {
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.main-listar-familiares {
    padding: 30px 30px 0px 30px;
    width: 80%;
}

.header-listar-familiares {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.header-listar-familiares h1 {
    margin: 0;
    font-size: 2.5rem;
}

.familiares-content {
    width: 100%;
}

.familiares-layout {
    display: flex;
    gap: 24px;
}


.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;

}

.search-bar-container a {
    text-decoration: none;
    display: flex;
    color: #000000;
    gap: 10px;
    background-color: #93D9FA;
    padding: 10px;
    border-radius: 10px;
}



.search-input-wrapper .search-icon {
    position: absolute;
    left: 12px;
    color: var(--cor-texto-secundario);
}

.search-input-wrapper input {
    background-color: var(--cor-azul-claro);
    border: none;
    border-radius: 8px;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    outline: none;
}

.familiares-layout {
    display: flex;
    gap: 24px;
}

.familiares-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 32px;
    width: 80%;
}
.familiar-card {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
}
.familiar-card p{
    margin: 0;
}