.botao {
    width: auto;
    min-width: 120px;
    height: 38px;
    background-color: #FFFFFF;

    border: none;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.2s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.login-button:hover {
    background-color: #f0f0f0;
}