.header-lista-terapeutas h1{
    margin: 40px 0px 40px 80px;
}
.section-lista-terapeutas {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}
.section-lista-terapeutas .search-lista-terapeutas input {
    background-color: var(--background-color-primary);
    height: 29px;
    width: 230px;
    border-radius: 6px;
    border: none;
    margin-bottom: 40px;
}

.filtros-lista-terapeutas{
    display: flex;
    flex-direction: column;
    width: 214px;
    border: 1px solid #000000 ;
    border-radius: 10px;
}
.filtros-lista-terapeutas .label-checkbox-idade input,
.filtros-lista-terapeutas .label-checkbox-neurodivergencia input{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
}
.filtros-lista-terapeutas p {
    
    margin:0px;
    border-bottom: 1px solid #000000;
    margin: 10px ;
}
.label-checkbox { 
    display: flex;
    align-items: center;
    color: #696969;
}
.section-de-exibir-terapeutas {
    display: flex;
    gap: 40px;
}

.exibe-terapeutas {
    width: 150px;
    height: 120px;
    border: 2px solid #808080;
}
.exibe-terapeutas a {
    padding-top: 14px;
}