.grid-terapeutas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 40px;
}

.card-terapeuta {
    width: 180px;
    height: 150px;
    border: 1.5px solid #808080;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out;
}
.card-terapeuta p{
    display: flex;
    flex-direction: column;
}
.card-terapeuta:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.card-terapeuta .icone {
    font-size: 40px;
    margin-bottom: 4px;
}

.button-ver-perfil {
    width: auto;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: var(--background-color-primary);
    color: black;
    font-weight: 600;
    padding: 6px 10px;
}
.card-terapeuta button:hover {
    background-color: #29B4F5;
}