.lista-suspensa {
  padding: 16px 24px;
  background-color: var(--background-color-primary);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: #000000;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}