.acessar-plano-page-wrapper {
  font-family: Arial, sans-serif;
  position: relative; 
  min-height: 100vh;
  background-color: #FAFAFA; 
}


.sidebar-acessar-plano {
  background-color: #93D9FA; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 90px; 
  height: 100vh; 
  padding: 2rem 1rem;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10; 
}


.sidebar-acessar-plano .link-voltar-sidebar{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 24px;
   
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1; 
}
.sidebar-acessar-plano .link-sair-sidebar{
 display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
 
  font-size: 1rem;
 
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1; 
}


.sidebar-acessar-plano .link-voltar-sidebar:active,
.sidebar-acessar-plano .link-sair-sidebar:active {
  color: red; /* Efeito vermelho ao clicar */
}


.acessar-plano-main-container {
  padding-left: 110px;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

}


.acessar-plano-bordered-content {
  border: 1px solid #000000; 
  padding: 2.5rem; 
  background-color: #FFFFFF; 
  border-radius: 0px; 
  width: 100%; 
  box-sizing: border-box; 
}



.acessar-plano-header {
  border-bottom: 2px solid #000000; 
  padding-bottom: 1rem;
  margin-bottom: 2.5rem; 
  text-align: center; 
}

.acessar-plano-header h1 {
  font-size: 1.6rem; 
  color: #000000; 
  margin: 0;
  font-weight: bold;
}



.assinatura-section {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.assinatura-section h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}
.assinatura-section hr {
  border: none;
  border-top: 1px solid #CCCCCC; 
  margin-bottom: 2rem; 
}

.link-imagem-section {
  margin-top: 2rem;
  text-align: left; 
}
.link-imagem-section a {
  display: block; 
  margin-bottom: 1rem;
  color: #007AFF;
  word-break: break-all; 
  text-decoration: none;
}
.link-imagem-section a:hover {
  text-decoration: underline; 
}
.link-imagem-section img {
  max-width: 100%; 
  height: auto;
  margin-top: 1rem;
  border: 1px solid #eee; 
}
