.main-tela-perfis-paciente {
    background-color: var(--background-color-secundary);
    height: 100vh;
}

.header-tela-perfis {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.header-tela-perfis h1 {
    font-size: 50px;
}

.section-tela-perfis {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.div-perfil {
    display: grid;
}

.div-perfil a {
    font-size: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--background-color-tertiary);
    border-radius: 100px;
}

.div-perfil p {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-weight: bold;
}


.logout-section-tela-perfis .link-sair {
    display: flex;
    justify-content: center;
    color: var(--background-color-tertiary);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    gap: 5px;
    margin-top: 200px;
    font-size: 20px;
}

.logo-canto-tela-de-perfil {
    position: absolute;
    right: 0;
    bottom: 0;
}