.cadastrar-paciente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.cadastrar-paciente-cabecalho {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-cadastrar-paciente {
    width: 100%;
    max-width: 500px;
    margin-bottom: 2rem;
}

.lista-pacientes-section {
    width: 100%;
    max-width: 900px;
}

.imagem-neurolink {
    margin-top: 3rem;
    text-align: center;
}

.imagem-neurolink img {
    max-width: 200px;
    height: auto;
    opacity: 0.8;
}
