.campos-cadastrar-familiar {
    display: flex;
    flex-direction: column;
}

.formulario-cadastrar-familiar {
    background-color: #ffffff;
    margin-left: 239px;
}

.formulario-cadastrar-familiar .form-input {
    background-color: #93D9FA;
}

.acoes-cadastrar-familiar .botao {
    margin-left: 355px;
    background-color: #93D9FA;
    margin-top: 34px;
}