.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.campos-login {
  gap: 20px;
}

.acoes-login {
  padding-top: 10px;
}
.acoes-login a{
  text-decoration: none;
  color: #000000;
}