.campos-cadastrar-paciente {
    display: flex;
    flex-direction: column;
}

.formulario-cadastrar-paciente {
    background-color: #ffffff;
    margin-left: 239px;
}

.formulario-cadastrar-paciente .form-input {
    background-color: #93D9FA;
}

.acoes-cadastrar-paciente .botao {
    margin-left: 355px;
    background-color: #93D9FA;
    margin-top: 34px;
}

.lista-suspensa {
    padding: 16px 24px;
    background-color: var(--background-color-primary);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}