.cadastrar-terapeuta-cabecalho .barra-lateral {
    background-color: #93D9FA;
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
}

.cadastrar-terapeuta-cabecalho {
    display: inline-block;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}

.cadastrar-terapeuta-cabecalho h1 {
    font-family: sans-serif;
    max-width: 300px;
    font-size: 24px;
    margin-left: 160px;
}

.imagem-neurolink {
    position: relative;
}

.imagem-neurolink img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cadastrar-terapeuta-cabecalho .icon-sair {
    position: fixed;
    bottom: 40px;
    left: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.cadastrar-terapeuta-cabecalho .icon-voltar {
    position: fixed;
    top: 40px;
    left: 30px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}