body {
    background-color: #93D9FA;
}

.header-recuperar-senha{
    background-color: #93D9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}

.form-recuperar-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.form-recuperar-senha h2{
    max-width: 383px;
    font-size: 32px;
}

.form-recuperar-senha p{
    font-size: 16px;
    max-width: 383px;
}