.sidebar-container {
  width: 200px; 
  background-color: #93D9FA; /* Cor escura para a sidebar */
  color: black;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.sidebar-header h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-nav-item:hover,
.sidebar-nav-item.active {
  background-color: #8ABED9;
  color: black;
  border-left: 5px solid #3498db; 
}

.sidebar-nav-item svg {
  font-size: 1.4rem;
}