.tela-sessao{
    display: flex;
    height: 100vh;
}
.header-tela-sessao {
    background-color: #ffffff;
    padding: 30px 30px 8px 50px;
    display: flex;
    justify-content: space-between;
}

.header-tela-sessao div {
    display: flex;
    gap: 30px;
}

.header-tela-sessao .header-div-icons {
    display: flex;
    gap: 20px;
}