.main-tela-inicio-terapeuta {
    display: flex;
    height: 100vh;
    margin-left: 150px;
}

.sec-tela-inicio-terapeuta {
    background-color: #fff;
    padding: 30px 70px;
    
}

.sec-tela-inicio-terapeuta h3,
.sec-tela-inicio-terapeuta p {
    margin: 0px;
}

.sec-tela-inicio-terapeuta h3 {
    font-size: 30px;
    font-weight: bold;
}

.sec-tela-inicio-terapeuta .dashboard-terapeuta {
    padding: 50px 27px 27px 27px ;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
}

.dashboard-terapeuta div {
    border-radius: 10px;
    width: 250px;
    height: 134px;
    background-color: #93D9FA;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 25px;
    font-weight: bold;
}

.dashboard-terapeuta p {
    margin: 20px 0px 0px 20px;
}

.numero-sessoes {
    color: #EA580C;
}

.numero-pacientes {
    color: #16A34A;
}

.numero-sessoes-realizadas {
    color: #9333EA;
}

.sec-tela-inicio-terapeuta .acoes-terapeuta {
    padding-top: 100px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.acoes-terapeuta div {
    width: 500px;
    height: 175px;
    margin-bottom: 50px;
    background-color: #93D9FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.acoes-terapeuta a {
    text-decoration: none;
    color: #000000;
}

.acoes-terapeuta div:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
    background-color: #29B4F5;
}

.acoes-terapeuta h3,
.acoes-terapeuta p {
    padding-left: 20px;

}

.sec-sair {
    margin-top: 40px;
    background-color: #ffffff;
}