.form-recuperar-senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; 
  width: 100%;
}

.campos-recuperar-senha {
  gap:20px;
}

.acoes-recuperar-senha {
  padding-top: 10px;
}

.acoes-recuperar-senha .link-voltar-login,
.acoes-recuperar-senha .link-continuar-nova-senha {
  text-decoration: none;
}