.header-acessar-pacientes {
    background-color: #ffffff;
    padding: 10px;
}
.ul-paciente {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.li-paciente {
    padding: 10px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    list-style-type: none;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.input-pesquisar-paciente{
    margin-left: 40px;
    border-radius: 5px;
    width: 500px;
    max-width: 100%;
    height: 20px;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
