.tela-exibe-pacientes{
    background-color: #fff;
    height: 100vh;
    display: flex;
}
.header-acessar-pacientes{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9; 
}
.header-acessar-pacientes div{
    display: flex;
    gap: 20px;
}
.section-exibe-pacientes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.div-titulos{
    padding: 27px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
}
.div-titulos a{
    text-decoration: none;
    color: #000;
}