.tela-exibe-pacientes{
    background-color: #93D9FA;
    height: 100vh;
}
.header-acessar-pacientes{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9; 
}
.header-acessar-pacientes div{
    display: flex;
    gap: 20px;
}
.section-exibe-pacientes{
    display: flex;
    flex-direction: column;
}
.div-titulos{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
}
.div-titulos a{
    text-decoration: none;
    color: #000;
}