body {
    background-color: #93D9FA;
}

.header-nova-senha{
    background-color: #93D9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
}

.form-nova-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.form-nova-senha h3{
    max-width: 238px;
    font-size: 14px;
}
