.plano-card-container {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 1rem 1.5rem; 
  width: 482px; 

  height: auto; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
  margin-bottom: 1rem; 
  box-sizing: border-box; 


  border-style: solid;
  border-width: 1px; 
}

.plano-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plano-card-titulo {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1E1E1E;
}


.plano-card-seta {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.plano-card-body {
  padding: 1rem 1.5rem 1.5rem; 
  border-top: 1px solid #eee;

}

.plano-card-body {
  padding: 1rem 1.5rem 1.5rem;
  border-top: 1px solid #eee;
}

.plano-card-body p {
  margin-bottom: 1.5rem; 
  color: #555;
  line-height: 1.5;
}


.plano-card-acoes {
  display: flex;         
  flex-wrap: wrap;      
  gap: 10px;           
  margin-top: 15px;     
  justify-content: flex-start; 
  align-items: center;   

}


.plano-card-botao-acao {
  display: inline-flex; 
  align-items: center;
  gap: 5px;
  background-color: #93D9FA;
  color: black;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 14px;
  
}
 

.plano-card-botao-acao:hover {
  background-color: #8ABED9;
  color: #111;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

