.form-input {
  width: 100%;
  padding: 16px 24px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: #11101080;
  outline: none;
  box-sizing: border-box;
  width: 360px;
}

.form-input::placeholder {
  color: #11101080;
  font-family: Arial, sans-serif;
}

.form-input:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}