body{
  margin: 0;
  background-color: #93D9FA;
}


.login-page-container {
  min-height: 100vh; 
  background-color: #A0D2EB; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative; 
  overflow: hidden; 
}


.background-brains-image {
  position: absolute; 
  bottom: -20px; 
  left: -30px;
  opacity: 90%; 
  width: 439px;

}


.login-page-container header, 
.login-page-container form {
  position: relative; 
  background-color: transparent; 
}


.login-page-container header {
  background-color: transparent; 
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; 
  width: 100%;
}

.input-group {
  width: 80%;
  max-width: 400px;
}

.form-input {
  width: 100%;
  padding: 16px 24px;
  background-color: #FBE9E7;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: #11101080;
  outline: none;
  box-sizing: border-box;
}

.form-input::placeholder {
  color: #11101080;
  font-family: Arial, sans-serif;
}

.form-input:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.login-button {
  width: 120px;
  height: 38px;
  background-color: #FFFFFF; 

  border: none; 
  border-radius: 30px; 

  font-size: 12px;
  font-weight: bold; 
  text-transform: uppercase; 
  
   cursor: pointer; 
  margin-top: 8px; 
  transition: background-color 0.2s ease; 
}


.login-button:hover {
  background-color: #f0f0f0; 
}


.forgot-password-link {
  color: #000000;
  text-decoration: underline; 
  font-family: Sans-serif;

  font-size: 14px;
  
 
}


.forgot-password-link:hover {
  opacity: 0.8; 
}
