.planos-terapeuta-container {
  font-family: Arial, sans-serif;
  position: relative; 
  min-height: 100vh;
  background-color: #FAFAFA; 
}

.barra-lateral-planos {
  background-color: #93D9FA; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 90px; 
  height: 100vh; 
  padding: 2rem 1rem;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10; 
}

.barra-lateral-planos .link-voltar{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 24px;
   
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1; 
}
.barra-lateral-planos .link-sair {
 display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
 
  font-size: 1rem;
 
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1; 
}


.barra-lateral-planos .link-sair:active {
  color: red; /* Efeito vermelho ao clicar */
}



.planos-terapeuta-main {
  padding-left: 160px; 
  padding-top: 3rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

.planos-header {
display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.titulo-principal {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  text-align: left; 
}

.subtitulo-plano {
  font-size: 20px;
  font-weight: normal;
  color: #757575;
  margin-top: 0;
  margin-bottom: 20px
 
}

.conteudo-dividido {
  display: flex;
  gap: 3rem; 
  align-items: flex-start; 
}


.coluna-planos {
  flex-grow: 1; 
}

.lista-de-planos-terapeuta {
   display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1rem; 
  width: 100%; 
  max-width: 700px; 
}


.lista-de-planos-terapeuta .plano-card-container {
   max-width: none; 
   width: 100%; 
}
.lista-de-planos-terapeuta .plano-card-container:nth-child(odd) {
  border-color: black; 
}
.lista-de-planos-terapeuta .plano-card-container:nth-child(even) {
  border-color: #007AFF; 
}



.coluna-acoes {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  width: 120px; 
  flex-shrink: 0; 
}

.botao-acao {
  background-color: #93D9FA;
  color: black;
  border: none;
  border-radius: 25px;
  
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem; 
  transition: background-color 0.2s ease;
  width: 150px;
  height: 60px;
  text-decoration: none;
}

.botao-acao:hover {
  background-color: #8ABED9;
}